spring:
   datasource:
      username: hospital_records
      password: hospital_records
      url: jdbc:mysql://localhost:3306/hospital_records

   jpa:
      hibernate:
         ddl-auto: none
      show-sql: true
      defer-datasource-initialization: true
   
   sql:
      init:
         mode: never